<RunSettings>
	<NUnit>
		<!--https://docs.nunit.org/articles/vs-test-adapter/Tips-And-Tricks.html-->
		<TestOutputXml>D:\repo\BDD-Verisk\NUnitXML</TestOutputXml>
		<OutputXmlFolderMode>RelativeToResultDirectory</OutputXmlFolderMode>
		<NewOutputXmlFileForEachRun>true</NewOutputXmlFileForEachRun>
	</NUnit>
</RunSettings>